<div class="no-print">
  <p-dropdown [options]="paperSizes" [(ngModel)]="selectedPaperSize" optionLabel="label" optionValue="value"
    placeholder="Select Paper Size">
  </p-dropdown>
  <button (click)="print()" class="mt-3 btn btn-primary">🖨️ Print Receipt</button>
</div>



<div class="receipt" #receiptContent>
  <img [src]="imageUrl" alt="Shop Logo" class="logo">
  <p class="text-center"><b>{{nameOfShop}}</b></p>
  <div class="text-center">
    <p>No.09,Pannala Road,Dankotuwa</p>
    <p>070-4105775</p>
    <p>Date: {{ today | date: 'longDate'}}</p>
    <p>Time: {{ now }}</p>
    <p class="text-center">Invoice Id :{{puchaseOrderService.order.id}}</p>
  </div>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th class="text-left">Product</th>
        <th class="text-left">Qty</th>
        <th class="text-left">Price</th>
        <th class="text-right">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of puchaseOrderService.order.itemsSelled">
        <td class="text-left">{{ item.product?.name }}</td>
        <td class="text-center">{{ item.qty }} {{ item.qtyType?.name }}</td>
        <td class="text-right">{{ item.qntPrice | number: '1.2-2' }}</td>
        <td class="text-right">{{ item.qntPrice | number: '1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="totals-right">
    <p>Total: {{ puchaseOrderService.order.total | number: '1.2-2' }}</p>
    <p>Discount: {{ puchaseOrderService.order.discount | number: '1.2-2'}}</p>
    <p><strong>Net Total: {{ puchaseOrderService.order.netTotal | number: '1.2-2' }}</strong></p>
  </div>
  <div class="mt-3 text-center">
    <p>*** Thank You Come Agian ***</p>
    <hr />
    <p class="text-small">Software by Harshana Systems   0775897772</p>
  </div>
</div>

<hr />
<div class="totals-right">
  <p>Total: {{ puchaseOrderService.order.total | number: '1.2-2' }}</p>
  <p>Discount: {{ puchaseOrderService.order.discount | number: '1.2-2'}}</p>
  <p><strong>Net Total: {{ puchaseOrderService.order.netTotal | number: '1.2-2' }}</strong></p>
</div>
<div class="mt-3 text-center">
  <p>*** GOOD DAY COME BACK ***</p>
</div>
