<div class="no-print">
  <p-dropdown [options]="paperSizes" [(ngModel)]="selectedPaperSize" optionLabel="label" optionValue="value"
    placeholder="Select Paper Size">
  </p-dropdown>
  <button (click)="print()" class="mt-1 btn btn-primary">🖨️ Print Receipt</button>
</div>



<div class="receipt" #receiptContent>
  <img [src]="imageUrl" alt="Shop Logo" class="logo">
  <p class="text-center"><b>{{nameOfShop}}</b></p>
  <div class="text-center">
    <p>haldaduwana dankotuwa</p>
    <p>070-4105775</p>
    <p>Date: {{ today | date: 'longDate'}}</p>
    <p>Time: {{ now }}</p>
    <p class="text-center">Invoice Id :{{puchaseOrderService.order.id}}</p>
  </div>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th class="text-left">අයිතම​</th>
        <th class="text-left">QTY</th>
        <th class="text-left">එක​ක මි​ල</th>
        <th class="text-right">මිල</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of puchaseOrderService.order.itemsSelled">
        <td class="text-left">{{ item.product?.name }}</td>
        <td class="text-center">{{ item.qty }} {{ item.qtyType?.name }}</td>
        <td class="text-right">{{ item.qntPrice | number: '1.2-2' }}</td>
        <td class="text-right">{{ item.qntPrice | number: '1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="totals-right">
    <p>සාමන්‍ය මිල: {{ calculateWholesaleTotal() | number: '1.2-2' }}</p>
    <p>වට්ට​ම්: {{ puchaseOrderService.order.discount | number: '1.2-2'}}</p>
    <p><strong>අපේ මිල: {{ puchaseOrderService.order.netTotal | number: '1.2-2' }}</strong></p>
    <p><strong>ඔබ ලැබූ ලාබය: {{ calculateUserBonusPrice() | number: '1.2-2' }}</strong></p>
  </div>
  <div class="mt-3 text-center">
    <p>*** Thank You Come Agian ***</p>
    <hr />
    <p class="text-small">Software by Harshana Systems 0775897772</p>
  </div>
</div>

<hr />

<div class="mt-3 text-center">
  <p>*** GOOD DAY COME BACK ***</p>
</div>