.container{
    width: 500px;
    height: 100px;
}

iframe {
    width: 100%; /* Full width */
    height: 600px; /* Adjust height as needed */
    border: none; /* Remove border for cleaner look */
  }